@import 'sass/mixins';
@import 'sass/reset';

//@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';
//@import '../../bower_components/singularity/stylesheets/_singularitygs.scss';


@font-face {
	font-family: 'GothamPro';
	src: url("../fonts/GothamProLight.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/GothamProLight.svg#roboto") format("svg"),
	url("../fonts/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url("../fonts/GothamPro.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/GothamPro.svg#roboto") format("svg"),
	url("../fonts/GothamPro.woff") format("woff"),
	url("../fonts/GothamPro.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url("../fonts/GothamProMedium.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/GothamProMedium.svg#roboto") format("svg"),
	url("../fonts/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: Arial, Helvetica, sans-serif;

	//	-webkit-transform: translate3d(0,0,0);
	//min-width: 1400px;
}




@import 'sass/main';
@import 'sass/index';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/product';
@import 'sass/vacancy';
@import 'sass/contact';
