.contact.clearfix
	h2.contact__title Контакты
	.contact__overflow.clearfix
		.contact__wrap.clearfix
			a(href="tel:+ 74956538114").contact__phone + 7 495 653-81-14
			a(href="mailto:welcome@trmpln.ru?subject=Привет, Трамплин").contact__mob-email
			a(href="mailto:welcome@trmpln.ru?subject=Привет, Трамплин").contact__email Написать нам
		.contact__wrap-adress
			.contact__adress
				| Москва, Пресненская набережная 6, строение 2,
				.sep-tab
				| башня «Империя-Тауэр»,
				| 12 этаж
			a(href='https://yandex.ru/maps/213/moscow/?whatshere%5Bpoint%5D=37.540829%2C55.748260&whatshere%5Bzoom%5D=17&mode=whatshere' target='_blank' rel='noopener').contact__link
				| Как добраться

	.contact__soc
		.contact__soc-title Поделиться:
		.contact__soc-list
			//a(href='https://www.facebook.com/dialog/feed?redirect_uri={redirect_uri}&link={url}&title={title}&description={description}&picture={img}' target='_blank' rel='noopener').contact__soc-item.contact__soc-item_fb
			//a(href='https://vk.com/share.php?url={url}&title={title}&description={description}&image={img}' target='_blank' rel='noopener').contact__soc-item.contact__soc-item_vk
			//a(href='https://www.facebook.com/sharer/sharer.php?u=http://lazybee.ru/trmpln/public/index.html' target='_blank' rel='noopener' data-js-share='fb').contact__soc-item.contact__soc-item_fb
			//a(href='https://vk.com/share.php?url=http://lazybee.ru/trmpln/public/share-vk.html&title=TRMPLN&description=TRMPLN&image=/img/share-vk.jpg' target='_blank' rel='noopener' data-js-share='vk').contact__soc-item.contact__soc-item_vk
			a(href='#' target='_blank' rel='noopener' data-js-share='fb').contact__soc-item.contact__soc-item_fb
			a(href='#' target='_blank' rel='noopener' data-js-share='vk').contact__soc-item.contact__soc-item_vk