header.header.js-header
	.header__overflow
		.header__wrap
			.header__lang
			a(href="mailto:welcome@trmpln.ru?subject=Привет, Трамплин").header__email
			.header__logo(data-menu-item='first')
			.header__mob-nav.js-header-nav-icon
		nav.header__nav
			ul.header__menu
				li.header__menu-item(data-menu-item='product') Продукты
				li.header__menu-item(data-menu-item='vacancy') Вакансии
				li.header__menu-item(data-menu-item='contact') Контакты
			a(href="mailto:welcome@trmpln.ru?subject=Привет, Трамплин").header__mob-email

