.product
    h2.product__title Продукты
    .product__list
        .product__item
            .product__item-img
            h3.product__item-title
                | Лидогенерация
            .product__item-subtitle
            .product__item-text
                | Определяем аудиторию, заинтересованную в продукте,
                | и переключаем на прямой контакт с вашим колл-центром.
        .product__item
            .product__item-img
            h3.product__item-title
                | Сигналы
            .product__item-subtitle
            .product__item-text
                | Сегментируем CRM базу, определяя потребителей,
                | готовых к покупке вашего товара
        .product__item
            .product__item-img
            h3.product__item-title
                | Digital media
            .product__item-subtitle
            .product__item-text
                | Выделяем сегменты аудитории, готовой купить ваш
                | продукт, для площадок digital media.
        //.product__item
        //    .product__item-img
        //    h3.product__item-title
        //        | Адресуемое ТВ в IPTV и OTT
        //        //-| (IPTV и OTT)
        //    .product__item-text
        //        | Транслируем телевизионный ролик только для сегмента
        //        | ваших потенциальных потребителей
        .product__item
            .product__item-img
            h3.product__item-title
                | Наружная реклама
            .product__item-subtitle
                | (DOOH)
            .product__item-text
                | Узнаем в городском потоке ваш сегмент аудитории и
                | показываем нужный рекламный ролик на цифровых щитах.

