.vacancy(id='vacancies')
    .vacancy__title-wrap
        h2.vacancy__title
            | Вакансии&nbsp;
            span.vacancy__title-mob (2)
            span.vacancy__title-desk в Трамплин
        .vacancy__nav.js-vacancy-nav
    .vacancy__wrap
        .vacancy__nav-list
            .vacancy__nav-item.vacancy__nav-item_active(data-js-vacancy-nav-item='1')
                | DevOps Engineer
            .vacancy__nav-item(data-js-vacancy-nav-item='2')
                | Разработчик
            //.vacancy__nav-item(data-js-vacancy-nav-item='3')
            //    | Фронтенд-разработчик
            //.vacancy__nav-item(data-js-vacancy-nav-item='4')
            //    | Технолог
            //.vacancy__nav-item(data-js-vacancy-nav-item='5')
            //    | Ассистент
            //.vacancy__nav-item(data-js-vacancy-nav-item='6')
            //    | Копирайтер
        .vacancy__list.js-vacancy-list
            .vacancy__item(data-js-vacancy-item='1')
                h3.vacancy__item-title
                    span 1.&nbsp;
                    | DevOps Engineer
                .vacancy__content
                    .vacancy__text
                        | Стартап в области адресуемого медиа ищет разработчика, разбирающегося в администрировании,
                        | или администратора, разбирающегося в программировании: именно такого человека
                        | мы подыскиваем в нашу команду разработки.
                    .vacancy__text
                        | Мы создаем новую рекламную технологию, дающую возможность использовать
                        | фактические данные об аудитории, получаемые из разных источников.
                        | На основе этих данных мы можем одномоментно принимать решение об адресации
                        | нужного человека в традиционном и digital медиа, снабжая его максимально релевантным для него
                        | сообщением. Наша цель – сделать «умную» и полезную рекламу с возможностью таргетирования
                        | в реальном времени. К сервисам, которые мы разрабатываем и сопровождаем, предъявляются строгие
                        | требования по надежности и доступности, поэтому нам крайне важно, чтобы каждый член команды
                        | ответственно подходил как к разработке, так и к администрированию.
                    .vacancy__text
                        | Мы ждем, что вы будете не только заниматься администрированием и сопровождением сервисов,
                        | но и участвовать в разработке наравне с другими членами команды. Поэтому предъявляются
                        | особые требования к знанию нашего основного языка разработки – Python.
                    .vacancy__header
                        | Приходите к нам, если вы:

                    .vacancy__text
                        ul
                            li
                                | хотите строить нагруженные системы и хорошо знаете, как они устроены;
                            li
                                | знаете, зачем нужен мониторинг;
                            li
                                | понимаете, как устроены популярные приложения с открытым исходным
                                | кодом (веб-серверы, базы данных, почтовые серверы и т.п.), и имеете опыт их администрирования;
                            li
                                | знаете стек TCP/IP и можете по дампу сказать, что происходит;
                            li
                                | программируете на Python или имеете большой опыт разработки на другом языке и
                                | желание переключиться на Python;
                            li
                                | любите делиться своими достижениями и с удовольствием перенимаете опыт коллег;
                            li
                                | имеете развитый аналитический ум и готовы доводить свои идеи до практической реализации.

                    .vacancy__header
                        | Плюсами будут:

                    .vacancy__text
                        ul
                            li
                                | опыт работы с системами управления конфигурациями;
                            li
                                | понимание контейнеризации и виртуализации;
                            li
                                | аккаунт на github или на другом ресурсе, где можно посмотреть ваш код;
                            li
                                | знание алгоритмов и подходов, используемых в распределенных системах.

                    .vacancy__header.vacancy__header_type
                        | Тип занятости:

                    .vacancy__text
                        ul
                            li
                                | Полная занятость, полный день
            .vacancy__item(data-js-vacancy-item='2')
                h3.vacancy__item-title
                    span 2.&nbsp;
                    | Разработчик
                .vacancy__content
                    .vacancy__text
                        | Стартап в области адресуемого медиа ищет разработчика. Мы создаем новую
                        | рекламную технологию, дающую возможность использовать фактические данные об аудитории,
                        | получаемые из разных источников. На основе этих данных мы можем одномоментно
                        | принимать решение об адресации нужного человека в традиционном и digital медиа,
                        | снабжая его максимально релевантным для него сообщением. Наша цель – сделать «умную» и
                        | полезную рекламу с возможностью таргетирования в реальном времени. Если вы хотите работать
                        | с большими объемами данных, искать новые решения, экспериментировать и строить новые продукты,
                        | то мы будем рады увидеть вас в команде.
                    .vacancy__header
                        | Задачи:

                    .vacancy__text
                        ul
                            li
                                | участвовать в разработке новых функций управления рекламой;
                            li
                                | анализировать большие объемы данных и реализовывать алгоритмы на их основе
                                | (восстановление дорожного трафика по его части, смещенность видимой аудитории,
                                | прогноз поведения пользователей по их трекам);
                            li
                                | находить и исправлять ошибки и узкие места в работающих системах;

                    .vacancy__header
                        | Требования:

                    .vacancy__text
                        ul
                            li
                                | опыт продакшн-разработки от 3 лет;
                            li
                                | опыт работы с большими объемами данных;
                            li
                                | опыт работы с базами данных (SQL/NoSQL);
                            li
                                | знание классических алгоритмов и структур данных;
                            li
                                | хорошее знание Python;
                            li
                                | умение работать в OS Linux.

                    .vacancy__header
                        | Желательно:

                    .vacancy__text
                        ul
                            li
                                | опыт разработки под Linux;
                            li
                                | опыт проектирования и разработки высоконагруженных систем;
                            li
                                | умение тестировать собственный код;
                            li
                                | знание средств командной разработки.

                    .vacancy__header.vacancy__header_type
                        | Тип занятости:

                    .vacancy__text
                        ul
                            li
                                | полная занятость, полный день

    a.vacancy__btn(href="mailto:welcome@trmpln.ru?subject=Привет, Трамплин") Отправить резюме

